@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans";
}

:root{
    --text-color: #fff;
    --bg-color: #000;
    --main-color:  #ffa343;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
